@page "{productId:Guid?}"
@model CommunityPricing.Pages.GeneralPublic.ProductDetailModel
@using CommunityPricing.Pages.Shared;

@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductDescr1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductDescr1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductDescr2_Wt_Vol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductDescr2_Wt_Vol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Wholesaler)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Wholesaler)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Offering)
        </dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>Vendor Name</th>
                        <th>Address</th>
                        <th></th>
                        <th>
                            <a asp-page="./ProductDetail" asp-route-sortorder="@Model.PriceSort">
                                Price per Unit
                            </a>
                        </th>
                        <th>
                            <a asp-page="./ProductDetail" asp-route-sortorder="@Model.AverageSort">
                                Average
                            </a>
                        </th>
                        <th>Date</th>
                    </tr>
                </thead>
                @foreach (var item in Model.DisplayDetailHelper)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.VendorName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.VendorAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.VendorAddress2)
                        </td>
                        <td>

                            @Html.DisplayFor(model => item.PricePerUnit)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Average)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.asOfDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>

</div>
<div>
    <a asp-page="./ProductIndex" asp-route-productCategoryId="@Model.Product.ProductCategoryID">Back to List</a>
</div>

<div>


    <p>
        The "Date" is the date that its price was last observed at the vendor.
    </p>
    <p>
        The "Average" is derived only from prices on the dates the price was observed.
    </p>
    <p>The figures above are based on casual observations, and they could be wrong.</p>
</div>