@page "{id:Guid?}"
@model CommunityPricing.Pages.Admin.AdminArchiveModel

@{
    ViewData["Title"] = "AdminArchive";
    Layout = "~/Pages/Admin/_AdminLayout.cshtml";
}

<h2>AdminArchive</h2>
<form asp-page="./AdminArchive" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="searchStringFirst" value="@Model.CurrentFilterFirst" />
            <input type="text" name="searchStringSecond" value="@Model.CurrentFilterSecond" />
            <strong>&nbsp;(Product Name - Product Type)&nbsp;</strong>
            <input type="submit" value="Search" class="btn btn-default">
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./AdminArchive" asp-route-sortOrder="@Model.ProductNameSort"
                   asp-route-currentFilterFirst="@Model.CurrentFilterFirst"
                   asp-route-currentFilterSecond="@Model.CurrentFilterSecond">
                    @Html.DisplayNameFor(model => model.ArchivedOffering[0].Offering.Product.ProductName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivedOffering[0].Offering.Product.ProductDescr1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivedOffering[0].Offering.Product.Wholesaler)
            </th>
            <th>
                <a asp-page="./AdminArchive" asp-route-sortOrder="@Model.VendorNameSort"
                   asp-route-currentFilterFirst="@Model.CurrentFilterFirst"
                   asp-route-currentFilterSecond="@Model.CurrentFilterSecond">
                    @Html.DisplayNameFor(model => model.ArchivedOffering[0].Offering.Vendor.VendorName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivedOffering[0].Offering.Vendor.VendorAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivedOffering[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchivedOffering[0].Price)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ArchivedOffering) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Offering.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offering.Product.ProductDescr1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offering.Product.Wholesaler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offering.Vendor.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offering.Vendor.VendorAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                <a asp-page="./Delete" asp-route-id="@item.ArchivedOfferingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
